### KELOMPOK 7 EDA Pangan di Jawa Barat

In [3]:
# display
%matplotlib inline  
# numerik
import numpy as np 
# analisis
import pandas as pd 
# plot
import matplotlib.pyplot as plt  
# visualisasi
import seaborn as sns

In [6]:
ayam = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/dagingayam.csv'
babi = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/dagingbabi.csv'
domba = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/dagingdomba.csv'
kelinci = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/dagingkelinci.csv'
sapi = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/dagingsapi.csv'
kubis = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/kubis.csv'
lele = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/lele.csv'
padi = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/padi.csv'
pekerja = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/pekerja.csv'
pengeluaran = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/pengeluaran.csv'
susu_sapi = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/susu%20sapi.csv'
tuna = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/tuna.csv'
agama = 'https://raw.githubusercontent.com/LegiKuswandi/Coba/main/dataset_kelompok/agama.csv'
dfayam = pd.read_csv(ayam)
dfbabi = pd.read_csv(babi)
dfdomba = pd.read_csv(domba)
dfkelinci = pd.read_csv(kelinci)
dfsapi = pd.read_csv(sapi)
dfkubis = pd.read_csv(kubis)
dflele = pd.read_csv(lele)
dfpadi = pd.read_csv(padi)
dfpekerja = pd.read_csv(pekerja)
dfpengeluaran = pd.read_csv(pengeluaran)
dfsusu_sapi = pd.read_csv(susu_sapi)
dftuna = pd.read_csv(tuna)
dfagama = pd.read_csv(agama)

dfagama.head(5)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,agama,jumlah_penduduk,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,ISLAM,3633669,JIWA,2013
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,KRISTEN,70820,JIWA,2013
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,KATHOLIK,25311,JIWA,2013
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,HINDU,2775,JIWA,2013
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,BUDHA,16706,JIWA,2013