In [3]:
# pip install pandas

In [4]:
# pip install seaborn

In [5]:
# display
%matplotlib inline  
# numerik
import numpy as np 
# analisis
import pandas as pd 
# plot
import matplotlib.pyplot as plt  
# visualisasi
import seaborn as sns

In [6]:
#panggil dataset
df = pd.read_csv("C:\\Users\\USER\\OneDrive\\Documents\\catatan kuliah\\SEMESTER 5 (UPI)\\MATERI KULIAH\\Data Mining And Warehouse Praktikum\\tugas\\dataset_kelompok\\coba\\dataset_kelompok\\dagingayam.csv")

#hapus satuan dan jenis_produksi
del df['satuan']
del df['jenis_produksi']

#rename
df = df.rename(columns={'jumlah_produksi': 'daging_ayam'})

#hapus data dibawah tahun 2017
df = df.loc[df['tahun'] >= 2017]

df.to_csv(("C:\\Users\\USER\\OneDrive\\Documents\\catatan kuliah\\SEMESTER 5 (UPI)\\MATERI KULIAH\\Data Mining And Warehouse Praktikum\\tugas\\dataset_kelompok\\coba\\dataset_kelompok\\dagingayam.csv"), index=False)


df.head(500)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,daging_ayam,tahun
108,109,32,JAWA BARAT,3204,KABUPATEN BANDUNG,32324,2017
109,110,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,34275,2017
110,111,32,JAWA BARAT,3216,KABUPATEN BEKASI,9829,2017
111,112,32,JAWA BARAT,3201,KABUPATEN BOGOR,151368,2017
112,113,32,JAWA BARAT,3207,KABUPATEN CIAMIS,116049,2017
...,...,...,...,...,...,...,...
265,266,32,JAWA BARAT,3275,KOTA BEKASI,2285,2022
266,267,32,JAWA BARAT,3276,KOTA DEPOK,2679,2022
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,247,2022
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,7711,2022
269,270,32,JAWA BARAT,3279,KOTA BANJAR,4009,2022

In [7]:
#panggil dataset
df1 = pd.read_csv("C:\\Users\\USER\\OneDrive\\Documents\\catatan kuliah\\SEMESTER 5 (UPI)\\MATERI KULIAH\\Data Mining And Warehouse Praktikum\\tugas\\dataset_kelompok\\coba\\dataset_kelompok\\dagingbabi.csv")

#hapus satuan dan jenis_produksi
del df1['satuan']
del df1['jenis_produksi']

#rename
df1 = df.rename(columns={'jumlah_produksi': 'daging_babi'})

#hapus data dibawah tahun 2017
df1 = df.loc[df['tahun'] >= 2017]



df.head(500)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,daging_ayam,tahun
108,109,32,JAWA BARAT,3204,KABUPATEN BANDUNG,32324,2017
109,110,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,34275,2017
110,111,32,JAWA BARAT,3216,KABUPATEN BEKASI,9829,2017
111,112,32,JAWA BARAT,3201,KABUPATEN BOGOR,151368,2017
112,113,32,JAWA BARAT,3207,KABUPATEN CIAMIS,116049,2017
...,...,...,...,...,...,...,...
265,266,32,JAWA BARAT,3275,KOTA BEKASI,2285,2022
266,267,32,JAWA BARAT,3276,KOTA DEPOK,2679,2022
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,247,2022
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,7711,2022
269,270,32,JAWA BARAT,3279,KOTA BANJAR,4009,2022